{{!-- hey --}}
<div class = "container jumbotron" id="header">
    <h2>SCRAPERHW by ANDYCHOW</h2>
    WELCOME TO A CUSTOM WEBSCRAPER WHERE YOU CAN ONLY SCRAPE FROM <a href="https://www.clickhole.com">CLICKHOLE.COM</a>.<br>
    ONCE YOU SCRAPE, YOU CAN ADD A COMMENT TO AN ARTICLE THAT IS POPULATED. WAHOO.<br>
    <span style="color:red">WARNING</span>: SOME ARTICLES MAY BE <span style="color:red">NSFW</span>.<br>
    CLICK <a href="/scrape" class="btn btn-info" role="button">Scrape</a> TO SCRAPE.
</div>

<div class="container">
<div class ="container col-md-5" id="articleContainer">
    <h2>ARTICLES</h2>
    <div id="articles"></div>
</div>
<div class="container col-md-1"></div>   
<div class="container col-md-5" id="articleContainer">
    <h2>COMMENTS</h2>
    <div id="comments"></div>
</div>



</div>