hey
<a href="/scrape" class="btn btn-info" role="button">Scrape</a>

<div class ="container col-md-6"><div id="articles"></div></div>
    
    <div class="container col-md-6"><div id="comments"></div></div>



